# Rust build output
*/target
/target

# Environment variables
.env
*.env

# Editor files
.vscode/
.idea/
*.iml

# Windows
Thumbs.db
Desktop.ini

# OS
.DS_Store

# Dev
.http

# Project Data
property_data/