PORT=3030

RUST_LOG=debug,sqlx=warn

# Sales history directory path (loads all files)
SALES_HISTORY_PATH="property_data/sales_history"
# Single file path
PROPERTY_LISTINGS_PATH="property_data/properties/listings.csv"

JWT_SECRET="FEEDBEEFFEEDBEEFFEEDBEEFFEEDBEEF"

DATABASE_URL="postgresql://admin:admin@localhost:5432/property_db"